.title{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
    font-size: 25px;
    border-bottom: 1px solid #000;
    width: 90%;
    text-align: center;
    margin-left: 10%;
}
.logo{
    width: 100%;
    line-height: 100px;
    background-color: #343636;
    text-align: center;
    color: #fff;
    font-size: 30px;
    position: relative;
}
/* 左边tab */
.left{
    height: 1080px;
    background-color: #040c15;
    color: #c4c6c6;
    float: left;
    width: 10%;
}
.tab ul li {
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #011324;
}
.user,.msg,.main,.tongji,.grade,.zhanghao{
    border-bottom: 1px solid #d4d5d6;
}
.usert,.msgt,.maint,.tongjit,.gradet{
    display: none;
}
.usert,.msgt,.maint,.tongjit,.gradet ul{
    border-bottom: 1px solid #d4d5d6;
}
.tab ul li span{
    display: inline-block;
    margin-left: 20px;
    transform: rotate(90deg)
}
.tab ul li a{
    font-size: 12px;
    display: inline-block;
    width: 100%;
    line-height:40px ;
}
/* 右面tab */
.right{
    float: left;
}
/* 搜索框 */
/* .search{
    float: right;
    margin-top: 75px;
    margin-left: 1400px;
}
.search input{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 4px;
    height: 12px;
}

.search span{
    font-size: 15px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 10px;
    padding: 5px;
} */
/* 查看 */
.chakan{
    width: 90%; 
    position: absolute;
    top: 100px;
    left: 10%;
    /* display: none; */
}
.base{
    width: 73px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #6fbbff;
    font-size: 14px;
    margin-left: 8%;
   
}
.touxiang{
    text-align: center;
}
.touxiang .userimg{ 
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 47.5%;
}
.userimg img{
    width: 82px;
}
.name{
    margin-top: 12px;
}
.lock{
    position: absolute;
    top: 32px;
    left: 70%;
    border: 1px solid #000;
    padding: 5px 20px;
    color: #6fbbff;
    font-size: 14px;
}
.black{
    position: absolute;
    top: 82px;
    left: 70%;
    border: 1px solid #000;
    padding: 5px 13px;
    color: #ff739a;
    font-size: 14px;
}
.ckmsg{
    font-size: 12px;
    margin-left: 8%;
}
.ckmsg div p{
    margin-top: 20px;
}
.fl{
    float: left;
}
.msgl{
    margin-right: 34%;
}
.msgm{
    margin-right: 17%;
}
.renzheng{
    width: 73px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #6fbbff;
    font-size: 14px;
    margin-top: 63px;
    margin-left: 8%; 
}
.truename,.addr{
    font-size: 12px;
    margin-left: 10%;
    margin-top: 40px;
}
.addr{
    margin-left: 34%;
}
.mt{
    margin-top: 40px;
}
.close{
    width: 82px;
    line-height: 33px;
    text-align: center;
    background-color: #6fbbff;
    color: #fff;
    margin-left: 50%;
    margin-top: 5%;
}
.zschakan{
    margin-left: 92px;
    margin-top: 100px;
    display: none;
}
.zschakan p{
    line-height: 40px;
    font-size: 14px;
    text-align: left;
}
.zsl{
    margin-right: 150px;
}
.titleimg{
    width: 177px;
    line-height: 201px;
    text-align: center;
    border: 1px solid #c4c6c6;

}
.botma{
    width: 784px;
    height: 201px;
    border: 1px solid #ccc;
}
.img{
    width: 830px;
    margin-top: 50px;
    margin-left: 10%;
}
.img div{
    margin-top: 38px;
    width: 126px;
    height: 94px;
    border: 1px solid #c4c6c6;
    margin-right: 38px;
    text-align: center;

}
.img div img{
    height: 100%;
}
.knowledgem{
    margin-top: 39px;
    margin-left: 10%;
}
.knowledgem p{
    line-height: 40px;
}
.knowledgem p span{
    margin-left: 40px;
}
.imgbig1{
    display: none;
    position: absolute;
    top: 100px;
    left: 10%;
    width: 90%;
    line-height: 300px;
    background-color: #fff;
    text-align: center;
}
.imgbig1 img{
    margin-top: 100px;
}
.knowledgem .knowt,select{
    margin-left: 57px;
}

.knowledgem .neirong{
    display: inline-block;
    width: 783px;
    height: 201px;
    border: 1px solid #c4c6c6;
    margin: 0;
}
.btn button{
   border: 0;
   width: 83px;
   height: 34px; 
   
}
.btn1 button{
    border:  1px solid #ff739a;
    color: #ff739a;
    background-color: #fff;
    margin-left: 308px;
}
.btn2 button{
    border:  1px solid #6fbbff;
    color: #fff;
    background-color: #6fbbff;
    margin-left: 71px;
}
.btn3 button{
    border:  1px solid #6fbbff;
    color: #6fbbff;
    background-color: #fff;
    margin-left: 71px;
    
}
.tousu{
    padding:  92px
}
.tousu .tousutm{
    margin-left: 170px;
}
.tousu .tousutr {
    margin-left: 170px;
}
.tousu .tousutl p{
    margin: 26px;
}.tousu .tousutm p{
    margin: 26px;
}.tousu .tousutr p{
    margin: 26px;
}
.tousu .tousutl p span{
    margin-left: 30px;
}
.tousu .tousutm p span{
    margin-left: 30px;
}.tousu .tousutr p span{
    margin-left: 30px;
}