*{margin: 0;padding: 0;}
body{
	width: 100%;
	overflow-x: hidden;
	font-family: PingFangSC-Regular,"微软雅黑","Helvetica Neue", Helvetica;
}
.hide{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
	color: inherit;
}
