body{
	background-color: #F5F5F5;
}
/*搜索框*/
.search{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    background-color: #fff;
    z-index: 99;
    font-size: 0;
    white-space: nowrap;
    padding-top: 0.518533rem;
    padding-bottom: 0.153639rem;
    border-bottom: 0.01rem solid #EEEEEE;
}
.search.search-scroll{
	background-image: -webkit-linear-gradient(-225deg, #FFC3D9 0%, #FF739A 100%) !important;
	background-image: -o-linear-gradient(-225deg, #FFC3D9 0%, #FF739A 100%) !important;
	background-image: -moz-linear-gradient(-225deg, #FFC3D9 0%, #FF739A 100%) !important;
	background-image: linear-gradient(-225deg, #65CDFF 0%, #359FFF 100%) !important;
}
.search.search-scroll>.search-btn{
	background-color: rgb(245,245,245) !important;
}
.search>.search-btn{
	height: 0.652967rem;
	width: 5.66545rem;
	margin-right: 0.345688rem;
	margin-left: 0.288074rem;
	background-color: #F5F5F5;
	font-size: 0;
	border-right: 0.07682rem;
	float: left;
}
.search>.search-btn>span{
	display: inline-block;
	width: 12%;
	line-height: 0.652967rem;
	text-align: center;
	vertical-align: top;
}
.search>.search-btn img{
	vertical-align: middle;
	width: 0.288074rem;
	height: 0.288074rem;
}
.search>.search-btn>input{
	width: 87%;
	height: 0.652967rem;
	border: 0;
	background-color: transparent;
   font-size: 0.268869rem;
   color: #65BCFF;
   letter-spacing: 0;
}
.search>.search-btn>input:focus{
	border: 0;
	outline: 0;
}
.search>button.quxiao{
	width: 0.576147rem;
	height: 0.403303rem;
	margin-top: 0.12rem;
	background-color: #fff;
	line-height: 0.403303rem;
	font-size: 0.288074rem;
	color: #363636;
	text-align: center;
	border: 0;
}
.search-result{
	margin-top: 1.35rem;
	background-color: #fff;
	padding: 0.441713rem 0;
}
.search-result>.search-result-init{
	text-align: center;
	line-height: 0
}
.search-result>.search-result-init>img{
   width: 0.998656rem;
   height: auto;
}
.search-result>.search-result-init>p{
	height: 0.384098rem;
	margin-top: 0.25rem;
	line-height: 0.384098rem;
	color: #999999;
	font-size: 0.268869rem;
}
.search-result>.search-history{
	padding: 0 0.288074rem;
}
.search-result>.search-history>.search-history-top{
	height: 0.326484rem;
	line-height: 0.326484rem;
}
.search-result>.search-history>.search-history-top>.left{
	font-size: 0.230459rem;
	color: #333333;
	line-height: 0.326484rem
}
.search-result>.search-history>.search-history-top>.right{
	line-height: 0.326484rem;
}
.search-result>.search-history>.search-history-top img{
   width: 0.307279rem;
   height: auto;
   vertical-align: top;
}
.search-result>.search-history>.search-history-content{
	background-color: #fff;
	overflow: hidden;
	margin-top: 0.07rem;
}
.search-result>.search-history>.search-history-content>span{
	float: left;
	margin-top: 0.230459rem;
    padding: 0.172844rem 0.230459rem;
	border-radius: 0.07682rem;
	font-size: 0.230459rem;
	color: #333;
	text-align: center;
	background-color: #F0F0F0;
	line-height: 0.326484rem;
}
.search-result>.search-history>.search-history-content>span+span{
	margin-left: 0.230459rem;
}

/*搜索结果列表*/
.search-nothing{
	margin-top: 1.35rem;
	border-top: 0.01rem solid #FFF;
	background-color: #fff;
}
/*最新发布*/
.fabu>.fabu-slide{
	padding-top: 0.288074rem;
	width: 6.164778rem;
	margin: 0.07682rem 0.3rem;
	background: #FFFFFF;
	border-top: 0.01rem solid #EEEEEE;
}
.fabu>.fabu-slide:first-child{
	border: 0;
}
.fabu>.fabu-slide>.fabu-slide-left{
    float: left;
    display: inline-block;
}
.fabu>.fabu-slide>.fabu-slide-left>img{
	width: 1.305934rem;
	height: auto;
}
.fabu>.fabu-slide .left>h4{
    font-size: 0.326484rem;
	color: #333333;
	letter-spacing: -0.41px;
}
.fabu>.fabu-slide .left small{
	font-size: 0.230459rem;
	color: #999999;
	letter-spacing: -0.29px;
	line-height: 0.672172rem;
}
.fabu>.fabu-slide>.fabu-slide-right{
	float: right;
    display: inline-block;
    margin-left: 0.230459rem;
    width: 4.359516rem;
}
.fabu>.fabu-slide .fabu-slide-right-middle{
	width: 4.359516rem;
	height: 0.691377rem;
    font-size: 0.230459rem;
	color: #999999;
	letter-spacing: -0.29px;
	line-height: 0.345688rem;
	margin: 0.096025rem 0;
	text-overflow:ellipsis;
	overflow:hidden;
}
.fabu>.fabu-slide .fabu-slide-right-bottom{
	line-height: 0.345688rem;
	font-size: 0.019205rem;
}
.fabu>.fabu-slide .fabu-slide-right-bottom>img{
   width: 0.228539rem;
   height: 0.265028rem;
   vertical-align: bottom;
}
.fabu>.fabu-slide .fabu-slide-right-bottom>span{
	font-size: 0.230459rem;
	color: #999999;
	letter-spacing: -0.29px;
	vertical-align: bottom;
    display: inline-block;
    line-height: 0.268869rem;
}

/*借阅热榜单*/
.borrow-menu{
	background-color: #fff;
	margin-top: 0.153639rem;
}
.borrow-menu>p{
	color: #333333;
	font-size: 0.230459rem;
	padding: 0.230459rem 0.288074rem;
}
.borrow-menu>.hotlist-content{
	margin: 0.18rem 0.576147rem;
	margin-top: 0.115229rem;
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
    display: inline-block;
}
.borrow-menu>.hotlist-content>li{
	width: 1.536393rem;
	float: left;
	color: #333333;
	font-size: 0.268869rem;
	list-style-type: none;
	text-align: center;
}
.borrow-menu>.hotlist-content img{
	width: 100%;
	height: 2.285385rem;
}
.borrow-menu>.hotlist-content>li+li{
	margin-left: 0.705rem
}